{% extends 'base.html' %}

{% block title %}
Acerca de Nosotros
{% endblock %}

{% block changing %}

<div style="text-align: center; font:bold; color: rgb(4, 59, 9);">
<br><br><h4>Nombre de integrantes:</h4>
   <br><div style="margin-left:43%; text-align: left";>
    <ul>
    <li><h5>Aranda, Pablo</h5></li> 
    <li><h5>Limache, Pablo</h5></li> 
    <li><h5>Rabal, Pablo</h5></li> 
    </ul>   
    </div>
<br><br><p><b>Acerca del Proyecto:</b> Este sitio web fue creado como proyecto final del curso de Python de Coderhouse.com.</p>
<p>El proyecto consiste en la creacion de un ecommerce de ventas de productos de almacen. Los clientes pueden crear</p>
<p>usuarios, loguearse y poder ver los articulos en venta y las sucursales que atienden.</p>
<p>Por otro lado, el administrador puede editar, crear y eliminar los datos de las sucursales y productos, </p>
<p>ademas, cuenta con el acceso al personal de la empresa y la posibilidad de manipular sus datos</p>
</div>

{% endblock %}