{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block changing %}

{% if message %}

<div class="alert alert-success" role="alert" style="margin:40px; padding-left:20px;">
    <h3>{{message}}</h3>
  </div>

{% endif %}

<img src="..\media\imagen_2 (4).jpg" style="width:350px; height: 350px; float: left; margin-left: 100px;" alt="Logo">
<h3 style="text-align: center; font:bold; color: rgb(4, 59, 9);">
<br><br><p>Bienvenido a Minimarket !!!</p>
<br><p>El mejor minimercado de tu barrio!</p>
<br><p>VENI, te esperamos!</p>
</h3>

{% endblock %}