{% extends 'base.html' %}

{% block title %}
Detalle de Empleado
{% endblock %}

{% block changing %}

    <h1>{{ object.last_name }}, {{ object.name }}</h1>
    <h2>{{ object.position }}</h2>
    <h2>{{ object.address }}</h2>
    <h2>{{ object.store }}</h2>
    <h2>{{ object.date_of_hired }}</h2>
    <h2>{{ object.age }}</h2>

    <a href="/staff/delete-staff/{{object.id}}/" class="btn btn-danger">Eliminar</a>
    <a href="/staff/update-staff/{{object.id}}/" class="btn btn-primary">Editar</a>

{% endblock %}