{% extends 'base.html' %}

{% block title %}
Detalle de Empleado
{% endblock %}

{% block changing %}

<div style="margin: 40px 0 0 40px;">
    {% if staff.image %}
    <img src="{{staff.image.url}}" style="width:350px; height: 350px; float: left;" alt="Imagen del empleado">
    {% else %}
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxSnp2FeEZTPh1MK4B76oeN5JvmZTPJrqeP3PNepidbRQh_SBtVMtFcDTxIgcJzLOvtkQ&usqp=CAU" style="width: 350px; height: 350px; float: left;" alt="Imagen del empleado">
    {% endif %}

    <div style="margin-left: 400px;">
   
        <h2><b>{{ object.last_name }}, {{ object.name }}</b></h2><br>
    
        <ul>
        <li><h3>Puesto: {{ object.position }}</h3></li>
        <li><h3>Direccion: {{ object.address }}</h3></li>
        <li><h3>Sucursal: {{ object.store }}</h3></li>
        <li><h3>Fecha de contratacion: {{ object.date_of_hired }}</h3></li>
        <li><h3>Edad: {{ object.age }} años</h3></li>
        </ul><br>

        <div style="padding: 0 40px;">
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <a href="/staff/delete-staff/{{object.id}}/" class="btn btn-danger">Eliminar</a>
        <a href="/staff/update-staff/{{object.id}}/" class="btn btn-success" style="margin-left:15px;">Editar</a>
        {% endif %}
        <a href="/staff/list-staff/" class="btn btn-primary" style="margin-left:15px;">Volver</a>
        </div>

    </div>
</div>

{% endblock %}