{% extends 'base.html' %}

{% block title %}
Lista de sucursales
{% endblock %}

{% block changing %}

      {% for store in object_list %}
      <div class="card text-white bg-success mb-3 w-50" style="padding: 15px; margin: 10px 350px;">
        {% if store.image %}
        <img src="{{store.image.url}}" class="card-img-top" style="width: 100%; height: 250px;" alt="Imagen de Sucursal">
        {% endif %}
      <div class="card-body" style="background-color: rgb(107, 246, 153); color:rgb(1, 98, 1); font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;">
          <p class="card-text"><h5><strong><u>Sucursal "{{store.name}}"</u></strong></h5></p>
          <p><h6>Ciudad: {{store.city}}</h6></p>
          <p><h6>Direccion: {{store.address}}</h6></p>  
          <p><h6>Encargardo: {{store.manager}}</h6></p> 
          <p><h6>Horario: {{store.open_time}} - {{store.close_time}}</h6>
          </p>
            <a href="/stores/detail-stores/{{store.id}}/" class="btn btn-primary">Detalle</a>
        </div>
      </div>
      {% endfor %}
      
{% endblock %}