{% extends 'base.html' %}

{% block title %}
Mi Perfil
{% endblock %}

{% block changing %}

<div class="card" style="margin: auto; width: 50%; margin-top: 20px;">
  {% if user.profile.image %}
  <img src="{{user.profile.image.url}}" class="card-img-top" style="width:350px; height: 350px; border-radius: 350px; border: 5px solid; margin: auto;"  alt="Imagen del perfil">
  {% else %}
  <img src="https://png.pngtree.com/png-vector/20191022/ourlarge/pngtree-user-vector-icon-with-white-background-png-image_1843115.jpg"  class="card-img-top" style="width:350px; height: 350px; border-radius: 350px; border: 5px solid; margin: auto;" alt="Imagen del perfil">
  {% endif %}
  <div class="card-body">
  <table class="table table-striped table-dark">
    <tr><th scope="col">@{{user.username}}</th></tr>
    <tr><td>Telefono: {{ user.profile.phone }}</td></tr>
    <tr><td>Link: {{ user.profile.link }}</td></tr>
    <tr><td>Descripcion: {{ user.profile.description }}</td></tr>
    <tr><td>Direccion: {{ user.profile.address }}</td></tr>
  </table>
  </div>
</div>

  <a href="/users/update-profile/{{user.username}}/" class="btn btn-success" style="margin: 10px 630px;">Editar</a>

{% endblock %}